[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
default_md         = sha256
req_extensions     = v3_req
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = 4zx17x5q7l.execute-api.us-east-1.amazonaws.com

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
authorityKeyIdentifier = keyid,issuer

[alt_names]
DNS.1 = 4zx17x5q7l.execute-api.us-east-1.amazonaws.com
